<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Strat-ClientPC/src/org/globalgamejam/strat/DesktopLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.globalgamejam.strat.DesktopLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Strat-ClientPC"/>
</launchConfiguration>
